.navbar-nav .nav-link {
    color: black;
    font-weight: bold;
}
.navbar {
    background-color: #d7e8f5 !important;
}
body {
    background-color: #f7ebd2;
    font-family: 'Prompt', sans-serif;
}
.container-custom9 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.container-custom10 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}